<h1>Tasks#index</h1>
<% Task.all.each do |task| %>
  <% if task.completed %>
    [X] <%= link_to task.title, task_path(task) %>
  <% else %>
    [ ] <%= link_to task.title, task_path(task) %>
  <% end %>
  <br><br>
<% end %>
